<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/assets :: headerFragment">
    <title id="pageTitle">Detail zaznamu</title>
</head>
<body>
<div th:replace="fragments/header :: header">...</div>
<div class="container">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <table class="table table-hover" id="dev-table">
                <thead>
                <tr>
                    <th colspan="2">
                        Detail zaznamu
                    </th>
                </tr>
                </thead>
                <tr th:if="${record.uri != null}">
                    <th class="col-md-6">Uri</th>
                    <td th:text="${record.uri}" class="col-md-6"></td>
                </tr>
                <tr th:if="${record.objectId != null}">
                    <th>Object id</th>
                    <td th:text="${record.objectId}" class="col-md-6"></td>
                </tr>
                <tr th:if="${record.stationId != null}">
                    <th>Station id</th>
                    <td th:text="${record.stationId}">...</td>
                </tr>
                <tr th:if="${record.trashTypeName != null}">
                    <th>Trash type</th>
                    <td th:text="${record.trashTypeName}">...</td>
                </tr>
                <tr th:if="${record.cleaningFrequencyCode != null}">
                    <th>Cleaning frequency code</th>
                    <td th:text="${record.cleaningFrequencyCode}">...</td>
                </tr>
                <tr th:if="${record.containerType != null}">
                    <th>Container type</th>
                    <td th:text="${record.containerType}">...</td>
                </tr>
                <tr th:if="${record.relatedInstances != null and not #maps.isEmpty(record.relatedInstances)}">
                    <th>Parkomaty vedle nachazehící</th>
                    <td>
                        <ul>
                            <li th:each="relatedPlace : ${record.relatedInstances}">
                                <a href="#" th:href="@{http://localhost:8080/parkingMachines/{objectId}
                    (objectId=${relatedPlace.value})}"
                                   th:text="${relatedPlace.key}"></a>
                            </li>
                        </ul>
                    </td>
                </tr>

            </table>
        </div>
    </div>
</div>
</body>
</html>